---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
  {
    date: "Actualmente...",
    title: "Desarrollador Junior Full Stack",
    company: "TwinViz",
    description: `Desarrollo de una aplicación completa con Node.js y Express en el backend, utilizando PostgreSQL 
      y Sequelize para la gestión de bases de datos, y Auth0 para la 
      autenticación de usuarios. En el frontend, empleo React y React 
      Router para asegurar una navegación eficiente y un diseño responsivo 
      basado en Figma. En cuanto a DevOps, establezco pipelines de CI/CD 
      con GitHub Actions para automatizar pruebas, despliegues, gestión 
      de migraciones y manejo de secretos, además de una implementación 
      inicial en AWS.`,
    link: "",
  },
  {
    date: "Enero 2024 - Abril 2024",
    title: "Práctica Industrial",
    company: "Agrosuper",
    description: `Apoyo en tareas técnicas de supervisión y configuración de plataformas para el desarrollo de software, específicamente en Microsoft 
      Power Platform, Microsoft Azure y GitHub Enterprise Cloud. Desarrollo 
      de GitHub Actions y Azure Pipelines a través de archivos YAML, para 
      realizar integración continua y despliegue continuo (CI/CD), 
      automatizando el proceso de desarrollo de software y de aplicaciones 
      NoCode en Power Apps.`,
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
